title{
    color: plum
}

#big-achievement{
    color: red;
}

body{
    padding: 50px 20%;
}

h1,h2,h3,strong{
    color: plum
}
h1{
    text-transform: uppercase;
}
h1,h3{
    text-align: center;
}

h2{
    text-align: right;
    border-bottom: 1px solid lightslategrey
}
hr{
    border: 1px dotted lightslategrey;
    width: 50%;
}
p{
    color:darkslategrey;
    font-family: Georgia, serif;
    text-align: justify;
    font-style: italic;
}
